body{
    margin: 0;
}
.content-wraper{
    display: flex;
    width: 100vw;
    height: auto;
}
.wraper-text{
    width: 400px;
    text-align: center;
}
.parameters{
    list-style: none;
}
#canvas{
    border:2px solid grey ;
}